.footer {
    background-color: rgba(255, 255, 255, 0.9); /* trắng với độ trong suốt 80% */
    color: #003366;
    padding: 40px 20px 20px;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
  }
  
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1 1 200px;
    min-width: 200px;
  }
  
  .footer-logo {
    width: 40px;
    vertical-align: middle;
    margin-bottom: 10px;
  }
  
  .footer-title {
    color: #003366;
    margin: 10px 0;
  }
  
  .footer-section h4 {
    font-size: 16px;
    color: #003366;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 6px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .footer-section ul li:hover {
    color: #00b7ff;
  }
  
  .dmca-logo {
    margin-top: 10px;
    width: 130px;
  }
  
  .footer-socials {
    margin-top: 10px;
  }
  
  .social-icon {
    font-size: 20px;
    margin-right: 10px;
    color: #003366;
    transition: color 0.3s;
  }
  
  .social-icon:hover {
    color: #00b7ff;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #003366;
    padding-top: 10px;
    font-size: 13px;
    color: #003366;
  }
  